.nasir {
  float: right;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
.hero {
  background: url("../images/ezgif-2-b583d0ce77.png") no-repeat center
    center/cover;
  height: 70vh;
  /* width: 100vw; */
  position: relative;
}
.content {
  float: right;
  padding-top: 10%;
  text-align: center;
}
.care {
  color: #496bf2;
  font-size: 2rem;
}
.about {
  background: #496bf2;
  color: white;
}
.book {
  background: #2dd6c1;
  color: white;
}
.e-care {
  float: left;
  padding: 30px;
  box-shadow: 0 0 5px 5px lightgrey;
  width: 25%;
  text-align: center;
  /* margin:20px; */
}
.e-care:nth-child(2) {
  margin: 0 50px auto;
}
.e-care h2 {
  font-size: 5;
}
.service {
  color: #496bf2;
}
.services-offered {
  margin: 60px auto;
  width: 90%;
}
.herbs {
  padding: 20px;
  margin: 30px;
  background-color: blue;
  color: white;
}
.clearfix {
  clear: both;
}
.clinic {
  margin: 40px;
}
.treat {
  float: left;
  padding-left: 200px;
}
.about-us{
  float: left;
  padding-left: 2%;
}
.patients {
  text-align: center;
}
.pat {
  color: #496bf2;
}
.color{
  color: #2dd6c1;
}
h3{
  color: #496bf2;
}
.testimonial-circles {
  width: 20px;
  height: 20px;
  display:inline-block;
  border-radius:  50%;
  margin:6px;
}
.blue{
  background-color: #496bf2;
}
.green{
  background-color: #2dd6c1;
}
.testimonial-circles:not(:last-child) {
  margin-right: 20px;
}
.keziah {
  text-align: center;
}
.lucy {
  color: blue;
}
.life {
  text-align: center;
}
.healing {
  color: #2dd6c1;
}
.plan {
  color: #496bf2;
}
.background-inputs {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.background-inputs input {
  width: 50%;
  margin-bottom: 5em;
  padding: 2em;
  margin-top: 2em;
  border-radius: none;
}
.background-inputs {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 50%;
  padding-top: 2em;
  margin-top: 2em;
  border-radius: none;
}
#message {
  width: 35%;
  padding: 10%;
  border: none;
}
#message:focus {
  border: none;
}
.yoga {
  background-color: #496bf2;
  padding: 2em;
  width: 30%;
  margin-top: 2em;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}
.clearfix {
  clear: both;
}
.bg-form {
  background-image: url("../images/ezgif-2-81a50240fb.png");
  height: 100vh;
  position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
input[type="text"],
input[type="email"],
textarea {
  width: 30%;
  padding: 2.5rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
.pin{
  flex-direction:column;
}
.footer{
  display:flex;
}
.diff{
  width:50%
  
}
.btn{
  background-color:#496bf2;
  padding:20px;
  margin:20px;
  width:150px;
  display:block;
}
.form-content{
  margin:40px;
}
.home{
  color:#496bf2
}